.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  padding: calc(var(--margin-l) * 4) calc(var(--margin-l) * 6) 0;
  display: none;
}

.alert__channel-header {
  display: flex;
  justify-content: space-between;
}

.alert__channel-hash {
  color: var(--color-dark-gray);
}

.alert__create-channel {
  border-radius: 5px;
  cursor: pointer;
  background: var(--color-dark-green);
  padding: var(--margin-m) var(--margin-l);
  color: var(--color-white);
  font-size: var(--font-size-s);
  border: none;
}

.alert__times {
  font-size: calc(var(--font-size-l) * 2);
}

.alert__button {
  cursor: pointer;
  color: var(--color-dark-gray);
  background: none;
  border: none;
}

.alert--show {
  display: initial;
}

.alert__content-container {
  max-width: 500px;
  margin: 0 auto;
}

.alert__header {
  display: flex;
  justify-content: flex-end;
}

.alert__direct-message-list {
  margin-top: calc(var(--margin-l) * 2);
}

.alert__direct-message-ul {
  list-style: none;
  margin-top: var(--margin-l);
  max-height: 50vh;
  overflow-y: scroll;
}

.alert__user-list-item {
  padding: var(--margin-l);
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-dark-gray);
}

.alert__user-list-item:first-child {
  border-top: 1px solid transparent;
}

.alert__user-list-item:hover + .alert__user-list-item {
  border-top: none;
}

.alert__user-list-item-name {
  font-weight: bold;
  font-size: var(--font-size-s);
}

.alert__user-list-item:hover {
  cursor: pointer;
  border-radius: 5px;
  background: var(--color-light-blue);
  border-top: 1px solid transparent;
  border: 1px solid var(--color-light-blue);
}

.alert__user-list-item-image {
  background: steelblue;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  margin-right: var(--margin-l);
}

.alert__find-conversation {
  padding: var(--margin-l) var(--margin-m);
  width: 100%;
  font-size: var(--font-size-s);
  border-radius: 6px;
  border: 1px solid var(--color-dark-gray);
}

.alert__li--hide {
  display: none;
}
