.actionbar {
  background: var(--color-white);
  border-left: 1px solid var(--color-gray);
  height: 100%;
  flex: 4;
  display: none;
}

.actionbar__header {
  padding: var(--margin-l);
  background: var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionbar__close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--margin-m) 0;
  font-size: var(--font-size-l);
}