.chat {
  background: var(--color-white);
  height: 100%;
  flex: 8;
}

.chat__message-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat__message-menu {
  list-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--color-dark-gray);
  width: 300px;
  min-height: 80px;
  position: relative;
  top: 100px;
  left: 100px;
  background: var(--color-white);
  padding: var(--margin-m) 0;
}

.chat__li-content,
.chat__edit-text-textarea {
  width: 100%;
}

.chat__edit-text-textarea {
  resize: none;
  height: calc(40px + calc(1px * var(--edit-message-height)));
  border-radius: 5px;
  border: 2px solid var(--color-dark-gray);
  background: white;
  padding: var(--margin-l);
}

.chat__edit-text-button-container {
  margin-top: var(--margin-m);
}

.chat__edit-text-save,
.chat__edit-text-cancel {
  cursor: pointer;
  border: 1px solid var(--color-dark-gray);
  background: var(--color-white);
  padding: var(--margin-s) var(--margin-m);
  font-size: var(--font-size-s);
  border-radius: 5px;
}

.chat__edit-text-save {
  background: var(--color-dark-green);
  color: var(--color-white);
}

.chat__edit-text {
  margin: var(--margin-l) 0;
}

.chat__message-menu-li--delete,
.chat__message-menu-li {
  font-size: var(--font-size-s);
  padding: var(--margin-m) var(--margin-l);
}

.chat__message-menu-li--delete {
  color: var(--color-red);
}

.chat__message-menu-li--delete:hover,
.chat__message-menu-li:hover {
  cursor: pointer;
  background: var(--color-blue);
  color: var(--color-white);
}

.chat__message-menu-li--delete:hover {
  background: var(--color-red);
}

.chat__container {
  height: 100%;
}

.chat__text-container {
  overflow-y: scroll;
  height: calc(100% - var(--header-height) - var(--margin-l) - calc(1px * var(--message-height)));
}

.chat__typing {
  padding: var(--margin-l);
  width: 100%;
  background: var(--color-white);
}

.chat__li {
  padding: var(--margin-l);
  min-height: 64px;
  display: flex;
  position: relative;
  padding-bottom: var(--margin-l);
}

.chat__menu {
  display: none;
  position: absolute;
  top: -10px;
  right: var(--margin-l);
  list-style: none;
  background: var(--color-white);
  border-radius: 6px;
  border: 1px solid var(--color-dark-gray);
}

.chat__li:hover .chat__menu {
  display: flex;
}

.chat__menu-li--chat:before {
  content: "";
  height: 16px;
  width: 16px;
  bottom: 5px;
  position: absolute;
  background: url("/images/chat-bubble.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chat__menu-li {
  min-width: 40px;
  min-height: 10px;
  cursor: pointer;
  border-right: 1px solid var(--color-dark-gray);
  padding: var(--margin-s) var(--margin-l);
}

.chat__menu-li:last-child {
  border-right: none;
}

.chat__li:hover {
  background: var(--color-light-gray);
}

.chat__img {
  background: steelblue;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  margin-right: var(--margin-l);
}

.chat__username {
  font-size: var(--font-size-s);
  font-weight: bolder;
  margin-right: var(--margin-m);
}

.chat__date {
  font-size: var(--font-size-s);
  color: var(--color-dark-gray);
}

.chat__text {
  padding: var(--margin-m) 0;
}

.chat__input-container {
  width: 100%;
  padding: var(--margin-l);
}

.chat__input {
  resize: none;
  height: calc(40px + calc(1px * var(--message-height)));
  border-radius: 5px;
  border: 2px solid var(--color-dark-gray);
  background: white;
  padding: var(--margin-l);
  width: 100%;
}