<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>

<body>
  <aside class="sidebar"></aside>
  <main class="content">
    <header class="header"></header>
    <div class="content__chat-container">
      <div class="chat">
        <div class="chat__text"></div>
        <div class="chat__input"></div>
      </div>
      <aside class="action-bar"></aside>
    </div>
  </main>
</body>

</html>