<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>

<body class="login">
  <div class="login__form-container">
    <h1>Register</h1>
    <form class="login__form" action="/register" method="POST">
      <input class="login__form-field" placeholder="Username" type="text" name="username">
      <input class="login__form-field" placeholder="Password" type="password" name="password">
      <input type="submit">
    </form>
  </div>
</body>

</html>